@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import Barchart
.ig
  font-family 'Roboto', 'arial', sans-serif
  h1
  h2
    margin-left 30px
  h1
    font-size 22px
  h2
    font-size 16px
    font-weight 400
    color #6

