@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
  @import Barchart
  @import GraphTip
  @import IncidentList
  @import backButton
.ig
  font-family 'Roboto', 'arial', sans-serif
  overflow hidden
  h1
  h2
  p
    margin-left 30px
  h1
    font-size 22px
  h2
    font-size 16px
    font-weight 400
    color #6
    width calc(100% - 300px)
  p
    font-size 14px
    font-style italic
    color #6
  .attrib
    position absolute
    bottom 0px
    right 10px


.barchart
  transition transform 0.6s
.push-away-barchart .barchart
  transform translate(400px, 0px)
